@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    #draw-canvas {
        background-color: #ddd;
    }
</style>

<div>
    <input type="color" id="color" value="black" />
    <input type="button" id="clear" value="Clear" />
</div>
<div>
    <canvas id="draw-canvas" height="500" width="800"></canvas>
</div>

<script src="https://unpkg.com/@@aspnet/signalr@@1.0.0-preview1-update1/dist/browser/signalr.js"></script>
<script>


var connection = new signalR.HubConnection('/draw')
connection.on('newStroke', drawStroke)
connection.on('clearCanvas', clearCanvas)
connection.start().catch(err => console.error)

var canvas = document.getElementById('draw-canvas')
var ctx = canvas.getContext('2d')
ctx.lineWidth = 4

var clearButton = document.getElementById('clear')
clearButton.addEventListener('click', ev => {
    ev.preventDefault()
    if (confirm("Are you sure you want to clear everyone's canvases???")) {
        clearCanvas()
        connection.invoke('ClearCanvas')
    }
})

var colorButton = document.getElementById('color')

function clearCanvas() {
    ctx.clearRect(0, 0, canvas.width, canvas.height)
}

var penDown = false
var previous = {x: 0, y: 0}
canvas.addEventListener('mousedown', ev => {
    penDown = true
})

canvas.addEventListener('mouseup', ev => {
    penDown = false
})

canvas.addEventListener('mousemove', ev => {
    if (penDown) {
        var start = {
            x: previous.x - canvas.offsetLeft,
            y: previous.y - canvas.offsetTop
        }
        var end = {
            x: ev.pageX - canvas.offsetLeft,
            y: ev.pageY - canvas.offsetTop
        }
        drawStroke(start, end, colorButton.value)
        connection.invoke('NewStroke', start, end, colorButton.value)
    }
    previous = {
        x: ev.pageX,
        y: ev.pageY
    }
})

function drawStroke(start, end, color) {
    color = color || "#000"
    ctx.strokeStyle = color
    ctx.beginPath()
    ctx.moveTo(start.x, start.y)
    ctx.lineTo(end.x, end.y)
    ctx.stroke()
}

</script>